body {
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-image: linear-gradient(to top, #9795f0 0%, #fbc8d4 100%);
  font-family: "Kalam", cursive;
}

h1 {
  font-size: 25px;
  margin-top: 20px;
  text-align: center;
  color: #4b0082;
  /* Deep purple color */

}

h2 {
  font-size: 15px;
  margin-top: -30px;
  text-align: center;
  color: #4b0082;
  /* Deep purple color */
}

hr {
  width: 100%;
  border: none;
  border-bottom: 4px solid black;
  margin: 20px 0;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.intro-box {
  text-align: center;
  max-width: 800px;
  margin: 20px;
  background-color: rgba(255, 255, 255, 0.8);
  /* Faded white background */
  border: 2px solid #4b0082;
  /* Deep purple border */
}

.inputform {
  font-size: 20px;
  text-align: center;
  margin-top: 20px;
}

.form {
  height: 20px;
  width: 50px;
}

.button,
.reset {
  margin: 20px;
  height: 50px;
  width: 200px;
  border-radius: 5px;
  box-shadow: 2px 2px 3px rgba(0, 0, 0, 0.1);
  background-color: white;
  font-size: 16px;
}

.button:hover,
.reset:hover {
  background-color: #fff0f5;
  box-shadow: none;
}

.button:active,
.reset:active {
  box-shadow: -2px -2px -2px rgba(0, 0, 0, 0.1);
  background-color: #ffb6c1;
}
.table-container {
  display: flex;
  margin: 20px;
  align-items: flex-start; /* Align items at the start */
}

.dicetable {
  border: thick solid black;
  border-collapse: collapse;
  width: 45%; /* Adjust the width as needed */
  margin-right: 50px;
}

.statstable {
  border: thick solid black;
  border-collapse: collapse;
  width: 45%; /* Adjust the width as needed */
}



th,
td {
  border: thin solid black;
  padding: 8px;
  text-align: center;
}

.statstable tr:hover,
.dicetable tr:hover {
  background-color: #4e95f4;
}

.dice {
  width: 100px;
  height: 100px;
  margin: 20px;
}

.rolldice {
  width: 100px;
  height: 100px;
  animation-name: rolldie;
  animation-duration: 4s;
}

.rolldice {
  -webkit-animation: rotation 0.5s linear;
}

@-webkit-keyframes rotation {
  from {
    -webkit-transform: rotate(0deg);
  }

  to {
    -webkit-transform: rotate(359deg);
  }
}